:root{
    --colour-p: #bfbfbf;
    --colour-link: #3274db;
    --colour-error: #cc0220;
    font-family: Helvetica, sans-serif;
}
h{
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
}
.text-link{
    background: none;
    border: none;
    color: var(--colour-link);
}

.error-msg{
    color:var(--colour-error);
}

.action-btn:hover{
    scale:105%
}

.form-wrapper{
    margin:auto;
    padding-top: 20vh;
    display: grid;
    grid-column: 1;
    grid-auto-rows: auto;
    gap: 2vh;
    max-width: 25vw;
    min-width: 250px;
    min-height: 20vh;
    max-height: 100px;
}

.new-post-container{

    margin: auto;
    background-color: var(--colour-p);

    display:grid;
    grid-template:
            "top top"
            "text text"
            "blank btn";
    gap: 2vh;
    width: 40vw;
    padding: 1vw 2vw 0 2vw;

    .new-post-header{
        grid-area:top;
        text-align:left;
    }
    .action-btn{
        grid-area:btn;
        width:5vw;
        height:2vw;
    }
    .post-text-field{
        grid-area:text;
        border:none;
        resize:none;
        width: 40vw;
        height: 10vh;
        margin-bottom: 2vh;
    }
}

.posts-container{
    margin:auto;
    padding-top: 5vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: space-between;

    .post-container{
        margin: 2vh auto 2vh auto;
        padding: 1vw 2vw 1vw 2vw;
        background-color: var(--colour-p);
        width:40vw;
    }

    .post-container:hover{
        scale:105%
    }

}

#home-wrapper{
    .action-btn{
        width:5vw;
        height:2vw;
    }
}
